

html {
  scroll-behavior: smooth;
}

.super_container {
  background-color: cyan;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.album-song{
  margin:1em;
  cursor: pointer;
  position: relative;
}
.song-description{
  display: block;
  margin: 0 2em;
  background-color: aqua;
}
.footer-container{
background-color: violet;
}
